@import "tailwindcss";

:root {
    --bg-color: #1a202c;
    --bg-color-navbar: #1e2024;
    --text-color: whitesmoke;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100dvh;
    display: flex;
}

.light {
    --bg-color: #ffffff;
    --bg-color-navbar: #88acf5;
    --text-color: #000000;
}