---
import '../styles/global.css';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Title Text="Bienvenido a mi sitio web" />
		<Subtitle text="Soy Ignacio Villca Desarrollador web Freelance" />
		<p>Este es un sitio web de ejemplo creado con Astro.</p>
		<button id="theme-toggle">Cambiar Tema</button>
	</body>
</html>

<script>
    const button = document.getElementById('theme-toggle');
    if (button) {
        button.addEventListener('click', () => {
            document.documentElement.classList.toggle('light');
        });
    }
</script>

<style>
	body {
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>
